.nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .title{
    display: flex;
    align-items: center;
    margin: 0;
    color: white;
}
.nav .icon{
    font-size: 50px;
    color: white;
}
.nav .menu{

}