.slider-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;

  .card {
    position: absolute;
    opacity: 0;
    z-index: 1;
    transition: all 0.5s;
    transform: translateX(-50%);
  }

  .card.show-middle {
    left: 50%;
    opacity: 1;
    z-index: 2;
  }

  .card.active-right {
    left: 75%;
    opacity: 0.6;
    z-index: 1;
    transform: translateX(-50%) scale(0.8);
  }

  .card.active-left {
    left: 25%;
    opacity: 0.6;
    z-index: 1;
    transform: translateX(-50%) scale(0.8);
  }

  .card.hidden-right {
    left: 100%;
    opacity: 0;
    z-index: 1;
    transform: translateX(-50%) scale(0.6);
  }

  .card.hidden-left {
    left: 0%;
    opacity: 0;
    z-index: 1;
    transform: translateX(-50%) scale(0.6);
  }

  .switch-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #3b3b3b;
    border-style: none;
    border-radius: 50%;
    outline: none;
    z-index: 5;
    transition: all 0.3s;
    cursor: pointer;
    line-height: 0;
  }

  .switch-btn:hover {
    color: rgb(48, 48, 48);
    background-color: #afafaf;
  }

  .switch-btn.prev {
    left: 0;
  }

  .switch-btn.next {
    right: 0;
  }

  .current-number {
    position: absolute;
    bottom: 0;
    font-size: 20px;
  }
}
@media screen and (max-width: 450px) {
  .slider-container {
    .card.active-right {
      transform: translateX(100%);
      opacity: 0;
    }

    .card.active-left {
      transform: translateX(-100%);
      opacity: 0;
    }

    .card.hidden-right {
      transform: translateX(0%);
      opacity: 0;
    }

    .card.hidden-left {
      transform: translateX(0%);
      opacity: 0;
    }

    .switch-btn.prev {
      bottom: 0;
      left: 10px;
    }

    .switch-btn.next {
      bottom: 0;
      right: 10px;
    }
  }
}
