.footer-container {
    display: block;
    padding: 20px 25px 0;
    color: #797979;
    background-color: #001529;

    h5 {
        font-size: 18px;
        color: #797979;
    }

    .link-list {
        display: flex;

        li {
            margin-right: 30px;
        }
        
        .icon {
            font-size: 25px;
            color: #797979;
            transition: color 200ms;
        }

        .icon:hover {
            color: #2bd5ff;
        }
    }
}
