.animate-fade-enter {
  opacity: 0;
 transform: scale(0.8) translateY(50px);
}
.animate-fade-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 500ms linear 300ms,
  transform 500ms ease-in-out 300ms;
}
.animate-fade-exit {
  opacity: 1;
  transform: scale(1) translateY(0px);
}
.animate-fade-exit-active {
  opacity: 0;
  transform: scale(0.8) translateY(50px);
  transition: opacity 300ms, 
              transform 300ms ease-in-out;
}
.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
.card-rotate-enter{

    transform: rotateY(0);
}
.card-rotate-enter-active{
   
    transform: rotateY(360deg);
    transition:transform 1000ms;
}
